

/* ------ Finish line ------ */

.finishline {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.7);
  transition: ease-in-out .7s;
  z-index: -100;
}
.finishcontent > h2 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 35px;
}
.finishcontent > img {
  border-radius: 3px;
}
.finishline.load {
  opacity: 1;
  z-index: 200;
}
.finishline a {
  margin: 10px;
  background-color: #c4c4c4;
}
.finishcontent {
  background-color: #202020;
  border-radius: 5px;
  position: absolute;
  top: 20%;
  left: 35.5%;
  padding: 50px 50px 20px 50px;
  opacity: 0;
}
.finishcontent > p {
  margin-top: 20px;
  font-size: 22px;
}
.finishcontent.load {
  opacity: 1;
  z-index: 201;
}
#whitex {
  margin: 0;
  width: 25px;
  position: absolute;
  right: 10px;
  top: 10px;
  color: #c4c4c4;
}
#whitex:hover {
  color: white;
  cursor: pointer;
}
p.newhighscore {
  font-size: 24px;
  font-weight: 800;
  font-style: italic;
}


/* ------ Page styling ------ */
hr.memory {
  border-top:1px solid white;
}
h2.memory {
  text-align: left;
}
p.highscore {
  font-size: 14px;
  display: inline;
}
#giticon {
  float: right;
  margin-top: 8px;
  font-size: 100%;
}
.row {
  justify-content: space-around;
  max-width: 700px;
  margin-bottom: 30px;
}
.card-outer-center {
  border-radius: 2px;
  width: 75px;
  height: 75px;
  perspective: 1000px; 
}
.card-outer-center img {
  width: 75px;
}
.card-outer:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
} 
.card-outer {
  transition: all .3s;
}

/* --------------  Card flipping  ------------ */

.card-outer img {
  width: 75px;
  height: 75px;
  border: 0;
  background: transparent;
  transition: .4s;
  border-radius: 4px;
}

.card-outer {
  border-radius: 2px;
  width: 75px;
  height: 75px;
  perspective: 1000px; 
}

.card-inner {
  position: relative;
  width: 75px;
  height: 75px;
  text-align: center;
  transition: all .4s;
  /* transform-style: preserve-3d;  Added via JS */
}

.card-inner.load {
  transition: transform 1.2s;
  transform: rotateY(360deg);
}
.card-inner.flip {
  transition: transform .4s;
  transform: rotateY(180deg);
} 

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: all .4s;
}
.front {
  z-index: 100;
} 
.back img {
  width: 74px;
  height: 74px;
}


/* ------ Center Counter ------ */ 

.center3 img {
  transition: all .4s;
  transition: ease-in-out 1s;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.center {
  transition: fade-in .5s;
  font-size: 30px;
}
.center .center1 {
  font-size: 36px;
  font-weight: 800;
  text-align: center;
  opacity: 0;
  transition: .5s;
}
.center .center2 {
  font-size: 42px;
  font-weight: 800;
  text-align: center;
  opacity: 0;
  transition: .5s;
}
.center1.load {
  transition: 3s;
  opacity: 1;
}
.center2.load {
  transition: 3s;
  opacity: 2;
}
.center3 img {
  transition: all .5s;
  opacity: 0;
  width: 75px;
  height: 75px;
  position: absolute;
  top: 0;
  left: 0;
}
.center3.load img {
  transition: 1s;
  opacity: 1;
}
.center3 {
  opacity: 1;
  transition: all .3s;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.center3.count {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 1;
  transition: transform .4s;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.center1 h4 {
  font-size: 26px;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 23px;
}
.center2 h4 {
  font-size: 40px;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 15px;
  margin-left: 4px;
}
.center h5 {
  font-size: 32px;
  margin-top: 20px;
  transition: .2s;
  color: #ffffff;
}
h5.count {
  transition: all .3s;
}




/* ----- Fontello ----- */ 

.icon-cw { content: '\e800'; } /* '' */

@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?71261177');
  src: url('../font/fontello.eot?71261177#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?71261177') format('woff'),
       url('../font/fontello.ttf?71261177') format('truetype'),
      url('../font/fontello.svg?71261177#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

.demo-icon a { 
  color: #c4c4c4;
}
.demo-icon {
font-family: "fontello";
font-style: normal;
font-weight: normal;
speak: none;
color: grey;

display: inline-block;
text-decoration: inherit;
width: 1em;
margin-right: .2em;
text-align: center;
/* opacity: .8; */

/* For safety - reset parent styles, that can break glyph codes*/
font-variant: normal;
text-transform: none;

/* fix buttons height, for twitter bootstrap */
line-height: 1em;

/* Animation center compensation - margins should be symmetric */
/* remove if not needed */
margin-left: .2em;

/* You can be more comfortable with increased icons size */
/* font-size: 120%; */

/* Font smoothing. That was taken from TWBS */
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;

/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}